.card {
  border-radius: 10px;
  position: relative;
}

.card__trash {
  position: absolute;
  top: 18px;
  right: 15px;
}

.card__trash:hover {
  cursor: pointer;
}

.card__image {
  display: block;
  width: 282px;
  height: 282px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px 10px 0 0;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 20px 25px;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}

.card__title {
  font-family: 'Inter', arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  line-height: 1.2;
  margin: 0;
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  opacity: 100%;
  transition: opacity 2s linear;
}

.card__like-button_active {
  background: url("../images/like-active.svg");
}

.card__like-button:hover {
  opacity: 50%;
  cursor: pointer;
}
