.header {
  margin: 0 0 45px 0;
  border-bottom: 1px solid #545454;
}

.header__image {
  margin: 45px 0 41px 0;
}

@media screen and (max-width: 900px) {
  .header__image {
    margin-left: 19px;
  }
}

@media screen and (max-width: 620px) {
  .header__image {
    margin: 28px 0 32px 19px;
  }
}
